<div *ngIf="!started">
  <h1>서비스를 시작합니다.</h1>
</div>
<div *ngIf="started">
  <mat-card class="body-width">
    <mat-card-header>
      <h1>시스템 초기값 설정</h1>
      <p class="caption">시스템 초기값을 선택하세요.</p>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="시작 시간을 선택하세요." [formControl]="startControl" required>
          <mat-option *ngFor="let t of timeObj" [value]="t.timeIndex">
            {{t.timeString}}
          </mat-option>
        </mat-select>
        <mat-hint>선택된 시간은 예약시의 시작 시간으로 설정됩니다.(선택된 시간 이전으로 시간을 선택할 수 없으며 추후 수정할 수 없습니다.)</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="종료 시간을 선택하세요." [formControl]="finishControl"  [value]="startControl.value + 1" required>
          <mat-option *ngFor="let t of timeObj" [value]="t.timeIndex" [disabled]="startControl.value >= t.timeIndex" >
            {{t.timeString}}
          </mat-option>
        </mat-select>
        <mat-hint>선택된 시간은 예약시의 마지막 시간으로 설정됩니다.(선택된 시간 이전으로 시간을 선택할 수 없으며 추후 수정할 수 없습니다.)</mat-hint>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-select placeholder="회의실 갯수를 선택하세요." [formControl]="countControl" required>
          <mat-option *ngFor="let i of room_count" [value]="i" >
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <div class="button-group">
        <button mat-button (click)="onSendInitValues()" color="primary">SUBMIT</button> <button mat-button >RESET</button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
