.popup-card {
  .select-time {
    width: 33%;
  }
  .button-group {
    margin-left: auto;
    text-align: right;
  }
  .full-width {
    width: 100%;
  }
  .toggle-title {
    padding-bottom: .5rem;
  }
  .mat-button-toggle-group {
    margin-top: .5rem;
    margin-bottom: .5rem;

  }
  .toggle-btn {
    line-height: 24px;
  }
  .error {
    color: red;
  }
}
